body {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0px solid black;
}
h1 {
  margin: 0;
  padding: 0 0;    
  color: #000000;
  text-align: center;
  width: 100%;
}
header {
  width: 100%;
}
html {
  font-size: 24px; 
	font-family: 'Open Sans', sans-serif;
  color: black;
  height: 100%;
  background: url('../images/cornell.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 50px;
}
img {
  display: block;
  margin: 0 auto;
}
li {
  display: inline;
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1px;
}

p {
	line-height: 1;
	letter-spacing: 1px;
}
#bar { /*centers the menu bar*/
  background-color: #ffffff;
  text-align: center;
  padding: 5px 0 0px 0;
  margin: 0 0;
}

#bg { /*make background photos the whole page*/
  width: 100%;
  z-index: 0;
}
#bottompad {
  padding-bottom: 25px;
}
#centered-scroll{
  margin: 130px auto;
  width: 70%;
  height: 1000px;
  background-color: white;
  padding: 15px;
  font-weight: 300;
  font-size: 18px;
  display: block;
  min-width: 500px;
}
#centered-scroll-contact{
  margin: 130px auto;
  width: 70%;
  height: 100px;
  background-color: white;
  padding: 15px;
  font-weight: 300;
  font-size: 18px;
  display: block;
  min-width: 500px;
}
#header{
    width:100%; 
    background-color: #ffffff;
    line-height: 1;
    margin: 0;
    padding: 10px 0 0 0;
    height: 100px;
    display: block;
    position: fixed;
    top: 0px;
}
#headerContent{
    margin: 0 auto; width: 100%;
}
#leidostbox{
  text-align: left;
  height: 70px;
  display: inline-block;
  padding: 20px 0 0 0;
  white-space: nowrap;
  float: right;
}
#lesswidth{
  width: 150px;
}
#menu{
  background-color: #ffffff;
  text-align: center;
  padding: 0px 20px 8px 20px;
  text-decoration: none;
  color: black;       
}
#menu-active{
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 0px 20px 8px 20px;
  text-decoration: none;     
}
#menu:hover{
  background-color: #afafaf;
}
#menu:active{
  background-color: #000000;
  color: white;
}
#regwidth{
  width: 250px;
}
#tboxtop {
  text-align: left;
  height: 70px;
  display: inline-block;
  padding: 0 0 0 0;
  white-space: nowrap;
  float: right;
}
.container{
  width: 100%;
  height: 80px;
  padding: 0 0 0 0;
  white-space: nowrap;
  float: left;
}
.scaleddiv{
  position: inline-block;
  float: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.scaledim{
  width: 100%;
  position: inline-block;
  padding: 0 0 0 0;
  margin: auto;
}
.skinny{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 20px;
  line-height: 0.5;
  text-align: left;
  font-size: 15px;
}
